brew "macvim"
cask "font-source-code-pro"
cask "font-fira-code"
cask "font-iosevka"
cask "font-iosevka-nerd-font"
cask "font-powerline-symbols"

cask "brave-browser"
cask "kitty"
cask "iterm2"
cask "rectangle"
cask "docker"
cask "visual-studio-code"
cask "postman"
cask "dbeaver-community"
cask "intellij-idea-ce"
cask "claude-code"
